.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: NeuzeitGrot, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
}

.section {
  display: block;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/Somethings_Brewing_2-01-copy2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.input {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  border-radius: 6px;
  font-size: 18px;
}

.form {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 80%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  border-radius: 6px;
  background-color: #f6901d;
  font-size: 18px;
  font-weight: 700;
}

.grid {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 10px;
  grid-template-areas: "Area-2 Area";
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 100vh;
  grid-template-areas: ". spacer" "Intro spacer" ". spacer" ". spacer" ". spacer" ". spacer" ". Signup";
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.intro {
  position: static;
  color: #008a46;
}

.signup-header {
  margin-bottom: 20px;
  color: #f6901d;
}

.form-block {
  min-width: 500px;
}

.success-message {
  background-color: #fff;
}

.text-block {
  font-size: 18px;
}

.text-block-2 {
  font-size: 18px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image {
  display: none;
}

@media (max-width: 991px) {
  .form {
    width: 80%;
  }
  .grid {
    grid-template-areas: "Area";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-2 {
    grid-template-areas: ". . ." "Intro Intro ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". Signup Signup";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
  .form {
    width: 80%;
    max-width: 55vw;
  }
  .intro {
    font-size: 29px;
  }
  .signup-header {
    font-size: 29px;
  }
  .div-block {
    padding-left: 20px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 30px;
  }
  .section {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .input {
    width: 100%;
    font-size: 14px;
  }
  .form {
    width: auto;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
  }
  .submit-button {
    font-size: 14px;
  }
  .grid-2 {
    display: block;
    height: 100vh;
    min-height: 800px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: "Intro Intro Intro" ". . ." "Area Area Area" "Area Area Area" "Area Area Area" "Area Area Area" ". . ." ". . ." "Signup Signup Signup";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
  .intro {
    font-size: 28px;
  }
  .signup-header {
    margin-bottom: 10px;
    font-size: 28px;
    text-align: left;
  }
  .form-block {
    width: 100vw;
    min-width: 0px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .body {
    font-size: 14px;
  }
  .div-block {
    margin-top: 10px;
  }
  .image {
    display: block;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
  }
  .heading {
    font-size: 28px;
  }
}

#w-node-29f1ff065599-57360aa1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Intro;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-8d808043b447-57360aa1 {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: Signup;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 479px) {
  #w-node-8d808043b447-57360aa1 {
    -webkit-align-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
  #w-node-fe3e22d50e76-57360aa1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: Area;
  }
  @media (max-width: 991px) {
    #w-node-29f1ff065599-57360aa1 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
    }
    #w-node-8d808043b447-57360aa1 {
      -ms-grid-row: 9;
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
    }
    #w-node-fe3e22d50e76-57360aa1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
  }
  @media (max-width: 479px) {
    #w-node-29f1ff065599-57360aa1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
    }
    #w-node-8d808043b447-57360aa1 {
      -ms-grid-row: 17;
      -ms-grid-column: 1;
      -ms-grid-column-span: 5;
    }
  }
}

@font-face {
  font-family: 'NeuzeitGrot';
  src: url('../fonts/font-2.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NeuzeitGrot';
  src: url('../fonts/font-3.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}